@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');

#recently_updated_anime,#favourite_anime{
    display: flex;
    flex-wrap: wrap;
}
.anime{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 15px;
    flex-wrap: wrap;


}
.anime span,#count{
    font-family: 'Gabarito', sans-serif;
     
}
.anime span{
    font-size: 14px;
    overflow-wrap: break-word;
    color: var(--dark-text);
    text-wrap: wrap;
    max-width: 170px;
}

.anime #count{
    font-size: 10px;
}
.anime img{
    height: 240px;
    width:  170px;
    border-radius: 5px;

}

#name{
    margin-top: 10px;
}

h5{
    /* font-family: 'Gabarito', sans-serif; */
    font-family: 'Sometype Mono', monospace;
    font-size: 20px;
    color: var(--text-white);
}

/* mobile styling */
@media only screen and (max-width: 600px) {
    #recently_updated_anime,#favourite_anime{
        flex-wrap: wrap;
        justify-content: center;

    }
    .anime{
        margin-bottom: 20px;
        margin: 10px
    }
    .anime img{
        height: 200px;
        width:  140px;
    }

}