@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* made the about section narrow to not take up img's space  */
#about{
    width: 70%;
    color: var(--text-white);
    font-family: 'Work Sans', sans-serif;
}

/* the main container */
.container{
    display: flex;
    margin-top: 15vh;
}

/* the img and img container  */
.img{
    display: flex;
    justify-content: center;
}
.img img{
    height: 250px;
    border-radius: 100px;
}

b{
    font-family: 'Work Sans', sans-serif;
}

/* hello and intro styling  */
#hello{
    font-size: 55px;
    margin: 0px;
    color: var(--text-white);
}
#intro{
    font-size: 15px;
    margin-bottom: 2px;
    color: var(--text-white);


    /* margin-top: 0px; */
}

/* "Name" element styling  */
#Shaurya{
    color: var(--special-text)
}
#Shaurya:hover{
    color: rgb(238, 215, 215);;
}

/* status circle and spotify icon syling  */
#circle{
    padding: 0px 10px;
    border-radius: 150px;
}
#spotify{
    display: none;
    width: 25px;
}

/* some space between links  */
#linkedin{
    margin-left: 20px;
}
html{
    background-color: var(--bg-dark);
}

/* link styles  */
.link{
    border: 2px solid var(--margin-dark);
    padding: 12px 7px;
    padding-bottom: 0px;
    border-radius: 10px;
    background-color: rgba(38,38,38,.3);
    transition: 0.3s;

}
.link:hover{
    background-color: var(--tertiary-background-color);
    transition: 0.3s;
}
#links{
    margin-top: 20px;
}
/* for mobile folks */
@media only screen and (max-width: 600px) {
     .container{
        flex-direction: column-reverse;
        margin-top: 8dvh;
     }
     #hello{
        font-size: 35px;
     }
     .text{
        text-align: center;
     }
     #about{
        width: 100%;
     }
     #discord_s{
        font-size: 10px;
     }

     #intro{
        justify-content: center;
        align-items: center
     }
     #spotify{
        width: 20px;
     }
     .img img{
        border-radius: 200px;
     }
     #circle{
        padding: -14px -11px;
        border-radius: 200px;
    }
}



