#others{
    margin-top: 5em;
    display: flex;
}
#contact{
    margin-left: 12em;
}
/* #learning{
    margin-left: 5rem;
} */
#learning h5, #contact h5{
    margin-bottom: 2px;
    margin-left: 5px;
    font-size: 15px;
    color: var(--dark-text);
}

.item{
    border: 1px solid var(--margin-dark);
    border-radius: 10px;
    margin-top: 0px;
    background-color: var(--secondary-bg-dark);
    margin: 10px;

}

.item:hover{
    background-color: var(--tertiary-background-color);
}
.item p{
    font-size: 15px;
    padding-top: 0px;
    margin: 5px 10px;
    color: var(--dark-text);
    margin-top: 0px;
    padding-right: 150px;
    padding-right: 100px;

}
.item h6{
    margin: 0px 9px;
    font-size: 17px;
    color: var(--text-white);
    margin-bottom: 0px;
    padding-top: 10px;
}

.item{
    display: flex;
    align-items: center;
    width: 147%;
    margin-right: 32px;
    transition: 0.3s;
}
#item_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
}

@media only screen and (max-width: 600px) {
    #others{
        flex-direction: column;
    }
    #contact{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #learning{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item{
        margin-right: 0px;
        width: 90%;
        margin-bottom: 7px;
    }
}