.pages1,.pages2{
    display: flex;
}
.pages1{
    margin-top: 15em;
    color: var(--text-white);
}
.pages2{
    margin-top: 15px;
}
.page{
    width: 50%;
    border: 1px solid var(--margin-dark);
    border-radius: 8px;
    padding: 0px 10px;
    background-color: rgba(38,38,38,var(--tw-bg-opacity));
    cursor: pointer;
    
}

.page:hover{
    background-color: var(--tertiary2-background-color);
    transition: 0.3s;
}

.page p{
    margin: 1px;
    margin-bottom: 13px;
    font-size: 16px;
    color: var(--dark-text);


}
.page h3{
    margin-bottom: 0px;
    font-size: 15px;
    margin-top: 15px;
    color: white;
    

}
#first,#third{
    margin-right: 17px;
}
#second{
    margin-bottom: 3px;
}



@media only screen and (max-width: 600px) {
    .pages1,.pages2{
        flex-direction: column;
        align-items: center;
    }
    #first,#third{
        margin-right: 0px;
    }
    .page{
        width: 90%;
        margin-bottom: 20px;
    }
    .page h3{
        font-size: 15px;
    }
    .page p{
        font-size: 12px;
    }
}
