.tooltip {
  padding: 8px 160px;
  border-radius: 3px;
  font-size: 90%;
  width: max-content;
}
#about_para {
  color: var(--dark-text);
  width: 60%;
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
}
#about_me span,
u,
a {
  font-family: "Work Sans", sans-serif;
}
#about_me {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about_me_link {
  color: rgb(155, 148, 148);
  text-decoration: underline;
}

#about_me_gif {
  width: 303px;
}

/* for mobile folks */
@media only screen and (max-width: 600px) {
  #about_me {
    flex-wrap: wrap;
  }
  #about_para {
    width: 85%;
  }
  #about_me_gif {
    width: 250px;
  }
}
