#hero_text h2, #hero_text p{
    margin-top: 0px;
    margin-bottom: 20px;
}
#hero_text p{
    color: var(--dark-text);
}

#contact_methods{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}
#contact_methods a{
    text-decoration: none;
    color: grey;
}
.contact_card{
    display: flex;
    align-items: center;
    border: 1px solid var(--margin-dark);
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--secondary-bg-dark);
    transition: 0.3s;
}
.contact_card:hover{
    background-color: var(--tertiary-background-color);
}
.contact_card_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-left: 15px; */
    padding: 25px;
}

.contact_card_content h2,p{
    font-family: 'Work Sans', sans-serif;
    color: var(--text-white);
}

.contact_card_content p{
    margin: 1px;
    color: var(--dark-text);
}


@media only screen and (max-width: 600px) {
    #contact_methods{
        align-items: center;
        justify-content: center;
    }
    .contact_card,.contact_card_content{
        width: 9rem;
    }
    .contact_card_content{
        padding: 15px;
        padding-left: 2px;

    }
    .contact_card_content h2{
        font-size: 15px;
    }
    .contact_card_content p{
        font-size: 10px;
    }
}
