:root {
    --pr1: #f0f0f0;
    --sr1: #31319c;
    --tb1: #4c4ccc;
    --fff-background-color: #3535e9;
    --tc1: var(--text-white)
}



.tech-card-display {
    float: left;
}


.container2 {
    padding-top: 20px;
    padding-bottom: 5%;
    max-width: 1250px;
}

.technologies-text {
    padding-bottom: 7.5%;
    padding-left: 20%;
    color: var(--tc1);
}

.tech-sub {
    font-size: .875rem;
    color: var(--tc1);
    opacity: 0.5;
}

.technologies-container{
    margin-right: 15px;
}


.technologies-card {
    margin-bottom: 7.5px;
    transition: 0.3s;
    margin-right: 5px;
    display: inline-block;
    border-radius: 0.375rem;
    padding: 15px;
    background-color: var(--secondary-bg-dark);
    border: 1px solid var(--margin-dark);
    color: var(--tc1);
    width: 250px;
    height: 25px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
}

.technologies-card:hover {
    transition: 0.3s;
    background-color: var(--tertiary-background-color);
}

.tech-card-desc {
    position: absolute;
    top: 7px; 
    padding: 10px; 
    font-family: 'Work Sans', sans-serif;
}

.tech-sub{
    padding-left: 0px
}


.stack_note{
    font-size: 10px;
    color: var(--text-white);
}
.stack_note a{
    color: var(--text-white);
    text-decoration: underline;
}



@media screen and (max-width: 1200px) {

    .technologies-card {
        width: 37%;
        padding-left: 5%;
        margin-bottom: 12.5px; 
    }

    .project-card {
        max-width: 300px;
        margin-bottom: 12.5px; 
    }

    .container2{
        padding-top: 20px;
        padding-bottom: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    .technologies-text {
        padding-left: 5%;
    }
    .technologies {
        padding-left: 5%;
    }

    .container {
        padding-left: 5%;
    }

.technologies-container{
    margin-right: 0px;
}


}