@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Inter&display=swap');

/* margin to the container to move it down from hero section  */
#repos_container{
    margin-top: 20px;
}

/* repo/project card styling  */
.repo{
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

/* styling of para and heading inside project card  */
.repo p{
    color: var(--dark-text);
}
.repo img{
    width: 500px;
    height: 250px;
    border-radius: 9px;
}
.repo p,h2{
    margin: 0px;
}
.repo h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    color: var( --text-white);
    margin-bottom: 10px;

}
.repo p{
    font-size: 17px;
}
#link{
    margin-top: 15px;

}
#link a{
    color: rgb(165, 164, 164);
    margin-right: 5px;
}

/* moves the text away from the image to the right side  */
#info_text{
    margin-left: 90px;
}


/* moves the project image to right side (for alternate pattern) */
.right{
    flex-direction: row-reverse;
}
.right #info_text{
    margin-left: 20px;
    margin-right: 20px;
}

/* last updated line  */
#last_updated{
    color: var(--dark-text);
    font-size: 10px;
}

.project_link{
    border: 1px solid var(--margin-dark);
    padding: 5px 25px;
    padding-bottom: 2px;
    border-radius: 10px;
    background-color: var(--secondary-bg-dark);
}
.project_link:hover{
    background-color: var(--tertiary-background-color);
    transition: 0.3s;
}


/* mobile styling */
@media only screen and (max-width: 600px) {
    /* fixes the postion of navbar container  */
    #note h1{
        text-align: center;
        font-size: 12px;
    }
    .repo h2{
        font-size: 25px;
    }
    .repo{
        flex-direction: column;
        margin-bottom: 60px;
    }
    .repo img{
        margin-bottom: 20px;
        width: 21em;
        height: 11em;
    }
    #info_text,.right #info_text{
        margin-left: 10px;
        margin-right: 0px;
    }

  }