/* this is the main css file with universal styling  */

/* poppin and work sans fonts  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Poppins&display=swap');

/* main colors  */
:root {
    --bg-dark: rgb(23,23,23);
    --margin-dark: #242424;
    --secondary-bg-dark: rgba(36, 36, 36, 0.3);
    --special-text: rgb(214, 187, 187);
    --tertiary-background-color: rgba(44, 44, 44, 0.3);
    --tertiary2-background-color: #141414;
    --text-white: rgb(212, 212, 212);
    --dark-text: rgb(102, 102, 102);
    --tw-bg-opacity: 0.3;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
  }

/* change default bg to dark and display flex  */
html{
    /* background-color: var(--bg-dark); */
    color: white;
    display: flex;
    justify-content: center;
}

body{
    width: 77%;
}


/* the scroll bar styling */
html ::-webkit-scrollbar-thumb {
    background-color: #404040;
    /* height: 2px; */
}


html ::-webkit-scrollbar-track {
    background-color: #262626;

}
html ::-webkit-scrollbar {
    height: 2px;
    width: 8px;
}
/* this code removes blue section when someone click on image on mobile  */
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
    font-family: 'Poppins', sans-serif;
    
}

/* for mobile folks */
@media only screen and (max-width: 600px) {
    body{
        width: 95%;
    }}