@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Sometype+Mono&display=swap');

/* margin to the container to move it down from hero section  */
#repos_container{
    margin-top: 20px;
}

/* repo/project card styling  */
.repo{
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

/* styling of para and heading inside project card  */
.repo p{
    color: var(--dark-text);
}
.repo img{
    width: 500px;

    height: 250px;
    border-radius: 10px;
    border: 1px solid rgb(51, 51, 51);
}
.repo p,h2{
    margin: 0px;
}
.repo h2{
    font-family: 'Sometype Mono', monospace;
    font-size: 30px;
    color: var( --text-white);
    margin-bottom: 10px;

}
.repo p{
    font-family: 'Jost', sans-serif;
    font-size: 17px;
}
#link{
    margin-top: 7px;

}
#link a{
    color: rgb(147, 180, 238);
    margin-right: 5px;
}

/* moves the text away from the image to the right side  */
#info_text{
    margin-left: 90px;
}


/* moves the project image to right side (for alternate pattern) */
.right{
    flex-direction: row-reverse;
}
.right #info_text{
    margin-left: 40px;
    margin-right: 10px;
}
/* the project note styles  */
#note{
   margin-top: 30px;
   border: 1px solid var(--margin-dark);
   border-radius: 10px;
   font-size: 7px;
   display: flex;
   justify-content: center;
   color: var(--dark-text);

}
#note a{
    color:grey;
    font-family: 'Sometype Mono', monospace;
}


/* last updated line  */
#last_updated{
    color: var(--dark-text);
    font-size: 10px;
}


/* mobile styling */
@media only screen and (max-width: 600px) {
    /* fixes the postion of navbar container  */
    #note h1{
        text-align: center;
        font-size: 12px;
    }
    .repo h2{
        font-size: 25px;
    }
    .repo{
        flex-direction: column;
        margin-bottom: 60px;
    }
    .repo img{
        margin-bottom: 20px;
        width: 300px;
        height: 150px;
    }
    #info_text,.right #info_text{
        margin-left: 10px;
        margin-right: 0px;
    }

  }